{% extends 'base.html' %}

{% block body %}
  <h1>회원정보</h1>
  <h2>{{ user.username }}님의 프로필</h2>
  <div>
    <div>
      <h3>작성한 글</h3>
      <p>{{ user.article_set.count }}개를 작성하였습니다</p>
      {% for article in user.article_set.all %}
        <p>{{ forloop.counter }}</p>
        <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
      {% endfor %}
    </div>
    <div>
      <h3>작성한 댓글</h3>
      <p>{{ user.comment_set.count }}개를 작성하였습니다</p>
      {% for comment in user.comment_set.all %}
        <p>{{ forloop.counter }}</p>
        <a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
